<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body class="container">
    <h1>NoteApp REST:API Documentation</h1>
    <div class="row">
        <div class="col">
            GET Method
            <ul class="list-group">
                <button class="list-group-item list-group-item-action" id="endpoint1" value="/note/1" onClick="thisEndpoint(this.value)">/note/:id</button>
                <button class="list-group-item list-group-item-action" id="endpoint1" value="/notes" onClick="thisEndpoint(this.value)">/notes</button>
                <button class="list-group-item list-group-item-action" id="endpoint1" value="/category" onClick="thisEndpoint(this.value)">/category</button>
            </ul>
        </div>
        <div class="col">
            <div id="endpoints1"></div>
            <div id="data1"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            POST Method
            <ul class="list-group">
                <button class="list-group-item list-group-item-action" id="endpoint" value="note" onClick="thisPost(this.value)">/note</button>
                <button class="list-group-item list-group-item-action" id="endpoint" value="category" onClick="thisPost(this.value)">/category</button>
            </ul>
        </div>
        <div class="col">
            <p>Add New Note</p>
            <p>URL : http://localhost:4000</p>
            <!-- table note -->
            <table class="table">
                <tr>
                    <td>Params</td>
                    <td>Datatype</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>note</td>
                    <td>String</td>
                </tr>
                <tr>
                    <td>category</td>
                    <td>String</td>
                </tr>
            </table>
            <!-- table category -->
            <table class="table">
                    <tr>
                        <td>Params</td>
                        <td>Datatype</td>
                    </tr>
                    <tr>
                        <td>category</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td>String</td>
                    </tr>
                </table>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script>
    function thisEndpoint(value){
        $.ajax
        ({
            dataType: "json",
            url: "//localhost:4000"+value,
            success: function(data) 
            {
                console.log("log response on success");
                console.log(data);
                var myJSON = JSON.stringify(data);
                document.getElementById('data1').innerHTML = myJSON
                document.getElementById('endpoints1').innerHTML = 'URL : http://localhost:4000'+value
            }
        });
    }


    </script>
  </body>
</html>